<!-- TABLA -->
<table id="tabla" class="bordered striped hide-on-small-only">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Sexo</th>
      <th>Teléfono</th>
      <th>FechaNacimiento</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>	

  	{{#each this}}

  	<tr id="{{id}}">  	
  		<td class="nombre">{{nombre}}</td>
  		<td class="ciudad">{{ciudad}}</td>
  		<td class="sexo">{{sexo}}</td>
  		<td class="telefono">{{telefono}}</td>
  		<td class="fnac">{{formatDate fecha_nacimiento}}</td>
  		<td><a id='editar' class="waves-effect waves-light modal-trigger" href="#clienteModal"><i class="small material-icons orange-text">mode edit</i></a></td>
  		<td><i id='borrar' class="small material-icons icono red-text">delete</i></td>
      
  	</tr> 

	{{/each}}	 

  </tbody>
</table>

<!-- CARDS -->
<div class="container hide-on-med-and-up">

  {{#each this}}

    <row>    
        <div class="card green lighten-4">
          <div id="{{id}}" class="card-body center-align">
            <h5>{{nombre}}</h5>
            <p>{{ciudad}}</p>
            <p>{{telefono}}</p>
            <p>{{formatDate fecha_nacimiento}}</p>
            <a id='editar' class="waves-effect waves-light modal-trigger" href="#clienteModal"><i class="small material-icons orange-text">mode edit</i></a>
            <i id='borrar' class="small material-icons icono red-text">delete</i>
          </div>
        </div>
    </row>

  {{/each}}

</div>