<!-- Modal -->

<div class="modal-content">

    <h5>{{titulo}}</h5>       

    <!--Formulario-->
    <form id="form_registro">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" id="nombre_input" value="{{cliente.nombre}}" required>
        </div>
        <div class="form-group">
            <label>Ciudad</label>
            <input type="text" class="form-control text-muted" id="ciudad_input" value="{{cliente.ciudad}}" required>
        </div>
        <div class="form-group">
            <small>Sexo</small>
            <br>
            
            {{#if sexo}}
                            
                <label for="hombre">Hombre</label>
                <input type="radio" name="sexo" id="hombre" value="H" checked>
                <br>           
                <label for="mujer">Mujer</label>
                <input type="radio" name="sexo" id="mujer" value="M">
                
            {{else}}                
                <label for="hombre">Hombre</label>
                <input type="radio" name="sexo" id="hombre" value="H">                
                <br>
                <label for="mujer">Mujer</label>
                <input type="radio" name="sexo" id="mujer" value="M" checked>                                        
            {{/if}} 
            
            <br>
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            <input type="text" class="form-control" id="telefono_input" value="{{cliente.telefono}}" required>
        </div>
        <div class="form-group">
            <label>FechaNacimiento</label>
            <input type="text" id="datepicker" class="form-control" value="{{cliente.fecha_nacimiento}}" required>
        </div>
        <div class="form-group">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-2">Cancelar</a>
            <button type="button" class="btn" id="boton_{{accion}}" data-id='{{cliente.id}}' data-dismiss="modal">{{accion}}</button>
        </div>
    </form>
    
</div>

