<!-- Modal -->

<div class="modal-content">

    <h5>{{titulo}}</h5>       

    <!--Formulario-->
    <form id="form_registro">
        <div class="input-field">
            <label for="nombre_input">Nombre</label>
            <input type="text" class="validate" id="nombre_input" value="{{cliente.nombre}}" required>
        </div>
        <div class="input-field">
            <label for="ciudad_input">Ciudad</label>
            <input type="text" class="validate" id="ciudad_input" value="{{cliente.ciudad}}" required>
        </div>
        <div>
            <span>Sexo</span>
            <br>

            {{#if sexo}}

            <div>            
                <input type="radio" class="with-gap" name="sexo" id="hombre" value="H" checked>
                <label for="hombre">Hombre</label>
            </div>
                          
            <div>
                <input type="radio" class="with-gap" name="sexo" id="mujer" value="M">
                <label for="mujer">Mujer</label>
            </div>
                
            {{else}}                
            <div>            
                <input type="radio" class="with-gap" name="sexo" id="hombre" value="H">
                <label for="hombre">Hombre</label>
            </div>
                          
            <div>
                <input type="radio" class="with-gap" name="sexo" id="mujer" value="M" checked>
                <label for="mujer">Mujer</label>
            </div>                                        
            {{/if}} 
            
            <br>
        </div>
        <div class="input-field">
            <label for="telefono_input">Teléfono</label>
            <input type="text" class="validate" id="telefono_input" value="{{cliente.telefono}}" required>
        </div>
        <div class="datepicker">
            <label for="nombre_input">FechaNacimiento</label>
            <input type="text" id="datepicker"  value="{{cliente.fecha_nacimiento}}" required>
        </div>
        <div class="input-field">            
            <button type="button" class="modal-action modal-close btn" id="boton_{{accion}}" data-id='{{cliente.id}}' data-dismiss="modal">{{accion}}</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-2">Cancel</a>
        </div>
    </form>
    
</div>

<script type="text/javascript">Materialize.updateTextFields()</script>
